* {
  font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: #9d0044;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

h1:hover {
  color: #ed0067;
}

h2 {
  color: #9d0044;
}

h2:hover {
  color: #ed0067;
}

h3 {
  color: #9d0044;
}

h3:hover {
  color: #ed0067;
}

li:hover {
  text-decoration: underline;
}

@media (min-width: 50em) {
  .wrapper {
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr 0.3fr;
    grid-template-rows: 0.3fr 2fr 0.3fr;
    margin: 10px;
    gap: 25px;
    border: 5px solid pink;
    background-color: rgb(255, 239, 242);
  }

  .head {
    grid-area: 1 / 1 / 1 / 5;
    background-color: pink;
    text-align: center;
  }
  .my_image {
    grid-area: 3 / 2 / 2 / 2;
  }
  .right_side {
    grid-area: 2 / 3 / 2 / 3;
  }
  .foot {
    grid-area: 3 / 1 / 3 / 5;
    text-align: center;
  }
  .profile-image {
    min-width:fit-content;
  }
}

@media (min-width: 50em) {
  .wrapper_jkpg {
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr 0.3fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    margin: 10px;
    gap: 25px;
    border: 5px solid pink;
    background-color: rgb(255, 239, 242);
  }
  .head_jkpg {
    grid-area: 1 / 1 / 1 / 5;
    background-color: pink;
    text-align: center;
  }
  .abt_jkpg {
    grid-area: 2 / 2 / 2 / 3;
  }
  .jkpg_img {
    grid-area: 2 / 2 / 2 / 3;
  }
  .bridge-img {
    min-width:fit-content;
  }
  .todo {
    grid-area: 2 / 3 / 2 / 3;
  }
  .foot_jkpg {
    grid-area: 3 / 1 / 3 / 5;
    text-align: center;
  }
}
